*{
    background-color: rgb(5, 1, 1);
}

.container{
    background-color:  rgb(5, 1, 1);
    margin: 200px auto;
    width: 700px

}
/* button{
    color: #9a1313;
    background-color: yellow;

    padding: 10px;
    margin: 10px;
} */
#off-light{
    background-color: #fff;
}
#off-light span{
    background-color: white;
}
#off-light span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

/* button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  button:hover span {
    padding-right: 25px;
  }
  button:hover span {
    padding-right: 25px;
  } */

  /* ----- */
  button {
    border-radius: 4px;
    background-color: #e9e912;
    border-radius: none;
    color: #b42929;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
   
  }
  
  button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    background-color: #e9e912;
  }
  
  button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  button:hover span {
    padding-right: 25px;
  }
  
  button:hover span:after {
    opacity: 1;
    right: 0;
  }